<mat-card class="myCard">
    <mat-card-header>
        <div mat-card-avatar>
            <fa-icon [icon]="faCircle"></fa-icon>
        </div>
        <mat-card-title>{{item.name}}</mat-card-title>
    </mat-card-header>

    <div class="center">
        <a [href]="'assets/' + item.imgLocation" target="_blank">
            <img [src]="'assets/' + item.imgLocation">
        </a>
    </div>

    <mat-card-content>
        <p><fa-icon [icon]="faMapMarked"></fa-icon> &nbsp; {{item.location}}</p>
        <p><fa-icon [icon]="faRulerCombined"></fa-icon> &nbsp; {{item.shadowSize}}</p>
        <p><fa-icon [icon]="faClock"></fa-icon> &nbsp; {{item.timeLabel}}</p>
        <p><fa-icon [icon]="faCalendar"></fa-icon> &nbsp; {{hemisphere ? item.northMonthLabel : item.southMonthLabel}}</p>
        <p><fa-icon [icon]="faDollarSign"></fa-icon> &nbsp; {{item.price | number}}</p>
    </mat-card-content>
</mat-card>