.myCard {
    max-width: 200px;
    height: 100%;
}

.center {
    text-align: center;
}

.mat-card-content {
    position: absolute;
    bottom: 0;
    padding-bottom: 3%;
}

.pointer {
    cursor: pointer;
}