.myCard {
  height: 100%;
  max-width: 200px;
  display: flex;
  flex-direction: column;
}

.img-container {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
}

.pointer {
  cursor: pointer;
}

.card-container {
  height: 100%;
  width: 100%;
  max-width: 200px;
  display: fle1x;
  justify-content: center;
}

.centerImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.mat-card-content {
  margin-top: 1rem;
}