<mat-card class="myCard">
    <mat-card-header>
        <div mat-card-avatar>
            <fa-icon [icon]="faCircle"></fa-icon>
        </div>
        <mat-card-title>{{item.name}}</mat-card-title>
    </mat-card-header>

    <div class="center">
        <a [href]="item.imgLocation" target="_blank">
            <img [width]="item.width" [src]="item.imgLocation">
        </a>
    </div>

    <mat-card-content>
        <p>{{item.original}} <i>by</i> {{item.artist}}</p>
    </mat-card-content>
    <mat-card-footer>
        {{item.price}}
    </mat-card-footer>
</mat-card>