.myCard {
    max-width: 200px;
    height: 100%;
}

.center {
    text-align: center;
}

.item {
    border-color: white;
    border-radius: 2px;
}

.mat-card-content {
    position: absolute;
    bottom: 0;
    padding-bottom: 3%;
}