.myCard {
  height: 100%;
  max-width: 200px;
  display: flex;
  flex-direction: column;
}

.img-container {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
}

.pointer {
  cursor: pointer;
}

.card-container {
  height: 100%;
  width: 100%;
  max-width: 200px;
  display: fle1x;
  justify-content: center;
}

.mat-card-title {
  font-size: 17px;
}