<div class="center">
    <mat-button-toggle-group>
        <mat-button-toggle mat-raised-button [value]="0" (change)="filterChange($event.value)">Art</mat-button-toggle>
        <mat-button-toggle mat-raised-button [value]="1" (change)="filterChange($event.value)">Bugs</mat-button-toggle>
        <mat-button-toggle mat-raised-button [value]="2" (change)="filterChange($event.value)">Fish</mat-button-toggle>
        <mat-button-toggle mat-raised-button [value]="3" (change)="filterChange($event.value)">Fossils</mat-button-toggle>
    </mat-button-toggle-group>
</div>

<!-- <div [ngSwitch]="filter"> -->
    <!-- <div *ngSwitchCase="1"> -->
        <mat-grid-list *ngFor="let art of artData" [cols]="nCols" rowHeight="2:0.5" (window:resize)="onResize($event)">
              <app-art-card [item]="art"></app-art-card>
       </mat-grid-list>
    <!-- </div> -->
<!-- </div> -->
