.center {
    text-align: center;
}

.myCard {
  max-width: 185px;
}

.card-deck-container {
    width: 99%;
    // max-width: 1200px;
    position: relative;
    padding: 10px 10px 30px;
    margin: 10px 10px 10px 10px;
  }
  
  .card-item {
    padding: 3px 3px 3px 3px;
  }