.center {
    text-align: center;
}

.right {
  text-align: right;
}

.hemisphereContainer {
  padding: 16px;
}

.hemisphereIcon {
  cursor: pointer;
}

.myCard {
  max-width: 185px;
}

.app-card {
  width: 100%;
  height: 100%;
}

h1 {
  padding-left: 16px;
  margin-top: 2%;
  font-size: 2em;
}

mat-grid-list {
  margin: 0 16px;
}

.rotateimg90 {
  -webkit-transform:rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

.rotateimg270 {
  -webkit-transform:rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
}