<div class="center">
    <mat-button-toggle-group>
        <mat-button-toggle mat-raised-button [value]="0" (change)="filterChange($event.value)">Art</mat-button-toggle>
        <mat-button-toggle mat-raised-button [value]="1" (change)="filterChange($event.value)">Bugs</mat-button-toggle>
        <mat-button-toggle mat-raised-button [value]="2" (change)="filterChange($event.value)">Fish</mat-button-toggle>
        <mat-button-toggle mat-raised-button [value]="3" (change)="filterChange($event.value)">Fossils</mat-button-toggle>
    </mat-button-toggle-group>
</div>

<!-- <div [ngSwitch]="filter"> -->
    <!-- <div *ngSwitchCase="1"> -->
        <div fxLayout="row" fxFlex.md="70" fxLayoutWrap class="card-deck-container mat-elevation-z4">
            <div fxFlex *ngFor="let art of artData" class="card-item">
              <app-art-card [ngStyle]="{'width':'300' + 'px'}" [item]="art"></app-art-card>
            </div>
       </div>      
    <!-- </div> -->
<!-- </div> -->
