.center {
    text-align: center;
}

.myCard {
  max-width: 185px;
}

.app-card {
  width: 100%;
  height: 100%;
}

h1 {
  padding-left: 16px;
  margin-top: 2%;
  font-size: 2em;
}

mat-grid-list {
  margin: 0 16px;
}