.center {
    text-align: center;
}

hr {
    background-color: white;
}

table {
    width: 100%;
}

.actionButton {
    cursor: pointer;
}

.red {
    color: red;
}

.green {
    color: green;
}

.gold {
    color: #ffc107;
}

th.mat-header-cell {
    text-align: center;
}